<%- include("partials/header.ejs") %>

  <header class="py-5 bg-light border-bottom mb-4">
    <div class="container">
      <div class="text-center my-5">
        <h1
          class="fw-bolder"
          style="
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
            sans-serif;
            font-weight: 400 !important;
            font-size: clamp(36px, 5vw, 96px);
          "
        >
          Welcome to Blog Home!
        </h1>
        <p class="lead mb-0">
          Explore Engaging Content and Insights in Our Blog Home
        </p>
      </div>
    </div>
  </header>

  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7" style="margin-bottom: 36%">
        <% posts.forEach(post => { %>
          <div class="post">
            <a class="post__title-link" href="/post/<%= post.id %>">
              <h2 class="post-title post__title"><%= post.title %></h2>
            </a>
            <p class="post__author">- <%= post.author %></p>
            <div class="small text-muted post__date"><%= post.date %></div>
          </div>
          <hr class="my-4">
        <% }); %>
      </div>
    </div>
  </div>

  <%- include("partials/footer.ejs") %>
  <!-- Ensure jQuery is loaded before Bootstrap and use the slim version -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<!-- Ensure Popper.js is loaded before Bootstrap -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<!-- Bootstrap bundle includes Popper.js, so no need to load it separately -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Your custom script -->
<script src="js/scripts.js"></script>


  </body>
</html>
